
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title></title>
 </head>
 <body>
 <h1>"Create a Recipe!"</h1>
 <form method="post" action="/recipes">
	  <input type="text" name="recipe[name]">
	  <input type="text" name="recipe[ingredients]">
	  <input type="text" name="recipe[cook_time]">
	  <input type="submit" value="Create">
</form> 